DroneOfTheFuture.App/DroneOfTheFuture.App.Consola/obj/
DroneOfTheFuture.App/DroneOfTheFuture.App.Consola/bin/
DroneOfTheFuture.App/DroneOfTheFuture.App.Dominio/obj/
DroneOfTheFuture.App/DroneOfTheFuture.App.Dominio/bin/
DroneOfTheFuture.App/DroneOfTheFuture.App.Persistencia/obj/
DroneOfTheFuture.App/DroneOfTheFuture.App.Persistencia/bin/
DroneOfTheFuture.App/DroneOfTheFuture.App.Servicios/obj/
DroneOfTheFuture.App/DroneOfTheFuture.App.Servicios/bin/