@page
@model DroneOfTheFuture.App.FrontEnd.Pages.ReportesPage.ReportesEdit
@{
    ViewData["Title"] = "Crear Reportes";
    ViewData["Title-2"] = "Editar Reportes";

}

@if (@Model.est)
{
    <h1>@ViewData["Title"] </h1>
}
else
{
    <h1>@ViewData["Title-2"] </h1>
}


@{
    int ReportesId = Model.reportes.Id;
}

<h4>@Model.reportes.NombreDelReporte</h4>

<form method="Post" asp-action="Edit-crear">
    <input type="hidden" asp-for="reportes.Id" />
    <div>
        <label asp-for="reportes.NombreDelReporte"></label>
        <input asp-for="reportes.NombreDelReporte" class="form-control">
        <span class="text-danger" asp-validation-for="reportes.NombreDelReporte"></span>
    </div>
    <div class="form-group">
        <label asp-for="reportes.EstadoDrone"></label>
        <input asp-for="reportes.EstadoDrone" class="form-control">
        <span class="text-danger" asp-validation-for="reportes.EstadoDrone"></span>
    </div>
    <div class="form-group">
        <label asp-for="reportes.EstadoPaquete"></label>
        <input asp-for="reportes.EstadoPaquete" class="form-control">
        <span class="text-danger" asp-validation-for="reportes.EstadoPaquete"></span>
    </div>
    <div class="form-group">
        <label asp-for="reportes.Fecha"></label>
        <input asp-for="reportes.Fecha" class="form-control">
        <span class="text-danger" asp-validation-for="reportes.Fecha"></span>
    </div>
    <div class="form-group">
        <label asp-for="reportes.TemperaturaDelaZona"></label>
        <input asp-for="reportes.TemperaturaDelaZona" class="form-control">
        <span class="text-danger" asp-validation-for="reportes.TemperaturaDelaZona"></span>
    </div>


    <button type="submit" class="btn btn-primary">Guardar</button>

    @* <a class="btn btn-primary table-btn" asp-page="../PedidosPage/PedidosList" asp-route-ReportesId=@ReportesId>
        <i class="fas fa-address-book fa-lg" aria-hidden="true">Pedidos</i>
    </a>

    <a class="btn btn-primary table-btn" asp-page="../HistoricoPage/HistoricoList" asp-route-ReportesId=@ReportesId>
        <i class="fas fa-address-book fa-lg" aria-hidden="true">Historico</i>
    </a> *@
</form>


<a asp-page="../EmpleadosPage/EmpleadosList" class="btn-default"> Retornar</a>
