@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Learn about <a href="https://github.com/Ciclo3Ucaldas/Developer2022-G18">Revisa la Documentacion</a>.</p>
</div>
